<!DOCTYPE html>
<html lang="en">
  
  <!-- KARTHIK-TERROR-BOY [KTB] ! -->
  
    <head>
    <title> TURBO MODS </title>
      
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	
	<audio autoplay="autoplay" hidden="hidden" src="https://g.top4top.io/m_2212mfimd1.mp3"></audio>
	
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							 <h2 id="repo-stats-">Repo Stats ðŸ”­</h2>
      
      
<p><strong>CLICK THE LOGO TO VISIT THE REPO</strong></p>
      
      
<p><a href="https://github.com/TURBOHYPER/Toxic-Alexa"><img src="https://github-readme-stats.vercel.app/api/pin/?username=TURBOHYPER&amp;repo=Toxic-Alexa&amp;theme=dark" alt="github card"></a></p>
<p><a href="https://github.com/TURBOHYPER/Toxic-Alexa_V2"><img src="https://github-readme-stats.vercel.app/api/pin/?username=TURBOHYPER&amp;repo=Toxic-Alexa_V2&amp;theme=dark" alt="github card"></a></p>
<p><a href="https://github.com/TURBOHYPER/Toxic-Alexa_V3"><img src="https://github-readme-stats.vercel.app/api/pin/?username=TURBOHYPER&amp;repo=Toxic-Alexa_V3&amp;theme=nightowl" alt="github card"></a></p>
<p><a href="https://github.com/TURBOHYPER/Toxic-Alexa_V4"><img src="https://github-readme-stats.vercel.app/api/pin/?username=TURBOHYPER&amp;repo=Toxic-Alexa_V4&amp;theme=dark" alt="github card"></a></p>
  
						</header>
						
						
						<div align="center">

  <img src="https://activity-graph.herokuapp.com/graph?username=terror-boy&amp;bg_color=000000&amp;color=4fff67&amp;line=4fff67&amp;point=ffffff&amp;area=true&amp;hide_border=true" alt="GitHub Activity Graph">
  </div>
		<p align="center">
<p><img align="center" src="https://github-readme-stats.vercel.app/api?username=TURBOHYPER&show_icons=true&theme=dark&locale=en" alt="TURBOHYPER" /></p>
			</section>

				<!-- Footer -->
		<footer id="footer">
						<p class="copyright">&copy; Copyright Â© 2022: <a href="https://github.com/TURBOHYPER">TurboMods</a>.</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	
	</body>
</html>
      
      
  
